# Forzar Redirección HTTPS
RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Proteger ficheros de configuración
<Files "config.php">
    Require all denied
</Files>

# Redirecciones Externas
RewriteRule ^github/?$ https://github.com/javidaldev [R=302,L]
RewriteRule ^linkedin/?$ https://www.linkedin.com/in/javidaldev [R=302,L]